.container
	.wrapper
		svg.puzzle(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 704 704')
			lineargradient#linear-gradient_1
				stop(offset='0%' stop-color='#007da5')
				stop(offset='100%' stop-color='#02a0c8')
			lineargradient#linear-gradient_2
				stop(offset='0%' stop-color='#093350')
				stop(offset='100%' stop-color='#014e7c')
			lineargradient#linear-gradient_3
				stop(offset='0%' stop-color='#911631')
				stop(offset='100%' stop-color='#ae1c3f')
			g
				g
					g.puzzle-wrap
						path.puzzle-sector.sector-1.hover(d='M 685 245 c 0 0 -43 14 -98 32 c -7 3 -27 -6 -19 -20 c 7 -14 -8 -24 -19 -20 c -14 4 -16 22 -4 27 c 14 6 4 26 -2 28 c -88 28 -184 59 -190 62 c 0 -7 0 -109 0 -200 c 0 -7 -16 -22 -26 -11 c -9 10 -25 2 -25 -12 c 0 -12 15 -24 25 -12 c 11 12 26 -5 26 -12 c 0 -58 0 -103 0 -103 c 155 0 287 101 332 242 l 0 0 c 0 0 0 0 0 -1 z')
						text.puzzle-sector__title(x='70%' y='18%' dy='.35em' text-anchor='middle') 15M
						text.puzzle-sector__desc(x='70%' y='23%' dy='.35em' text-anchor='middle') number of people living with
						text.puzzle-sector__desc(x='70%' y='26%' dy='.35em' text-anchor='middle') HIV without access to
						text.puzzle-sector__desc(x='70%' y='29%' dy='.35em' text-anchor='middle') treatment
					g.puzzle-wrap
						path.puzzle-sector.sector-2(d='M 685 245 c 0 0 -43 14 -98 32 c -7 3 -27 -6 -19 -20 c 7 -14 -8 -24 -19 -20 c -14 4 -16 22 -4 27 c 14 6 4 26 -2 28 c -88 28 -184 59 -190 62 c 0 -7 0 -109 0 -200 c 0 -7 -16 -22 -26 -11 c -9 10 -25 2 -25 -12 c 0 -12 15 -24 25 -12 c 11 12 26 -5 26 -12 c 0 -58 0 -103 0 -103 c 155 0 287 101 332 242 l 0 0 c 0 0 0 0 0 -1 z')
						text.puzzle-sector__title(x='82%' y='53%' dy='.35em' text-anchor='middle') 7 — 10
						text.puzzle-sector__desc(x='82%' y='58%' dy='.35em' text-anchor='middle') years historically taken to
						text.puzzle-sector__desc(x='82%' y='61%' dy='.35em' text-anchor='middle') introduce pioneering HIV
						text.puzzle-sector__desc(x='82%' y='64%' dy='.35em' text-anchor='middle') treatments in Africa
					g.puzzle-wrap
						path.puzzle-sector.sector-3(d='M 685 245 c 0 0 -43 14 -98 32 c -7 3 -27 -6 -19 -20 c 7 -14 -8 -24 -19 -20 c -14 4 -16 22 -4 27 c 14 6 4 26 -2 28 c -88 28 -184 59 -190 62 c 0 -7 0 -109 0 -200 c 0 -7 -16 -22 -26 -11 c -9 10 -25 2 -25 -12 c 0 -12 15 -24 25 -12 c 11 12 26 -5 26 -12 c 0 -58 0 -103 0 -103 c 155 0 287 101 332 242 l 0 0 c 0 0 0 0 0 -1 z')
						text.puzzle-sector__title(x='51%' y='75%' dy='.35em' text-anchor='middle') 3
						text.puzzle-sector__desc(x='51%' y='80%' dy='.35em' text-anchor='middle') numbers of years taken to
						text.puzzle-sector__desc(x='51%' y='83%' dy='.35em' text-anchor='middle') introduce dolutegravir in
						text.puzzle-sector__desc(x='51%' y='86%' dy='.35em' text-anchor='middle') Africa
					g.puzzle-wrap
						path.puzzle-sector.sector-4(d='M 685 245 c 0 0 -43 14 -98 32 c -7 3 -27 -6 -19 -20 c 7 -14 -8 -24 -19 -20 c -14 4 -16 22 -4 27 c 14 6 4 26 -2 28 c -88 28 -184 59 -190 62 c 0 -7 0 -109 0 -200 c 0 -7 -16 -22 -26 -11 c -9 10 -25 2 -25 -12 c 0 -12 15 -24 25 -12 c 11 12 26 -5 26 -12 c 0 -58 0 -103 0 -103 c 155 0 287 101 332 242 l 0 0 c 0 0 0 0 0 -1 z')
						text.puzzle-sector__title(x='19%' y='55%' dy='.35em' text-anchor='middle') 94
						text.puzzle-sector__desc(x='19%' y='60%' dy='.35em' text-anchor='middle') number of countries who can
						text.puzzle-sector__desc(x='19%' y='63%' dy='.35em' text-anchor='middle') access generic versions of
						text.puzzle-sector__desc(x='19%' y='66%' dy='.35em' text-anchor='middle') dolutegravir
					g.puzzle-wrap
						path.puzzle-sector.sector-5(d='M 685 245 c 0 0 -43 14 -98 32 c -7 3 -27 -6 -19 -20 c 7 -14 -8 -24 -19 -20 c -14 4 -16 22 -4 27 c 14 6 4 26 -2 28 c -88 28 -184 59 -190 62 c 0 -7 0 -109 0 -200 c 0 -7 -16 -22 -26 -11 c -9 10 -25 2 -25 -12 c 0 -12 15 -24 25 -12 c 11 12 26 -5 26 -12 c 0 -58 0 -103 0 -103 c 155 0 287 101 332 242 l 0 0 c 0 0 0 0 0 -1 z')
						text.puzzle-sector__title(x='29%' y='18%' dy='.35em' text-anchor='middle') $55
						text.puzzle-sector__desc(x='29%' y='23%' dy='.35em' text-anchor='middle') annual target price of
						text.puzzle-sector__desc(x='29%' y='26%' dy='.35em' text-anchor='middle') dolutegravir regimen per
						text.puzzle-sector__desc(x='29%' y='29%' dy='.35em' text-anchor='middle') person per year in resource
						text.puzzle-sector__desc(x='29%' y='32%' dy='.35em' text-anchor='middle') limited settings
				g
					circle.puzzle-circle(cx='352px' cy='352px' r='100px')
					text.puzzle-circle__title(x='50%' y='45%' dy='.35em' text-anchor='middle') IMPACT
					text.puzzle-circle__desc(x='50%' y='50%' dy='.35em' text-anchor='middle') US $270 million - annual savings
					text.puzzle-circle__desc(x='50%' y='53%' dy='.35em' text-anchor='middle') possible from scale-up of
					text.puzzle-circle__desc(x='50%' y='56%' dy='.35em' text-anchor='middle') dolutegravir-based regimens if
